.pointernone{
    pointer-events: none;
}

.redborder{
    border: solid 5px red;
    box-shadow: 0px 0px 15px 5px rgba(255,0,0,0.64);
}


.greenborder{
    border: solid 5px green;
    box-shadow: 0px 0px 15px 5px rgba(22,151,6,0.64);
}